body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBECED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.7rem;
  border: 0.1rem;
  width: 12rem;
  font-size: 0.9rem;
  border: 0.1rem;
  border-style: dashed;
  border-bottom: #4C586F;
  color: grey;
}

.city h2 {
  font-size: 1.2rem;
  color: #3E3E3B;
}

.image {
  max-width: 7rem;

}

.information {
  display: flex;
  flex-direction: column;
}